#slg-section {
    display: flex;
    margin-top: 30px;
    height: auto;
    overflow:hidden;
}

#slg-part {
    background-color: #dbdbdb;
    border: none;
}

.slg-card {
    background-size: cover; 
    background-size: cover; 
   
   
    background: #fff;
    cursor: pointer;
}





.slg-main-title {
    padding-top: 30px;
    margin: 0;
    text-align: center;
    font-family: 'Aguafina Script'; 
    font-size: 45px;
    color: #000000;
}

.slg-title {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
}

.slg-card-header {
   
    width: 100%;
    height: 250px;
    background-image: url("https://source.unsplash.com/x5SRhkFajrA");
    background-size: 140%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative; 
  
}

  .slg-card-header-2 {
    width: 100%;
    height: 250px;
    background-image: url("https://source.unsplash.com/kr_88BakygA");
    background-size: 140%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative; 
}

 .slg-card-header-3 {
    width: 100%;
    height: 250px;
    background-image: url("https://source.unsplash.com/TXHml4xX9A0");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative; 
}

.slg-card-body {
    width: 100%;
    height: 200px;
    background-color: #FFF;
}

.slg-card-title {
    padding: 0;
    font-size: 15px;
}

.slg-card-p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin: 0;
}

/* ----------Animation ----- */
@keyframes slideCard {  
    0% {width: 40%; }
    30% { width: 60%;}
    68%, 72% { width: 80%;}
    100% {width: 100%; position: absolute; z-index: 110; margin:0;} 
}
.clicked {
    animation: 0.9ms linear slideCard  forwards;
}

.close {
    animation: slideCard; 
    animation-direction: reverse;
}
/* ----------------- */


.columns {
    justify-content: center;
}
.slg-cross {
  
    color:black; 
    rotate: 45deg;
    cursor: pointer; 
    font-size: 25px;
    background-color: transparent; 
    border: none;
}
.slg-container {
    width: 100%; 
    height: 50px;

}



.slg-comments {
margin-top: 20px;
    width: 100%;

    background-color: #eaeaea; 

}
.slg-comment-title {

    font-weight: bold;
    padding-left: 10px;
}

.slg-comment-header {

    font-weight: bold;
    padding-left: 10px;
}

.slg-form {

    margin-top: 20px;
     
    padding-bottom: 20px; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.slg-form-btn {
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
    color: white;
    border-radius: 50px;
    background-color: #D09404;
    border: none; 
    height: 35px; 
    width: 200px;
    cursor: pointer; 
}

