.ld_h1 {
    padding-top: 30px;
    margin: 0;
    text-align: center;
    font-family: "Aguafina Script";
    font-size: 3rem;
    color: #000000;
}

.ld_container {
    display: flex;
    flex-direction: row;
}

.ld_info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 50px 20PX;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 20px 25px;
    border: 1px solid #000000;
}

.ld_form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 20PX;
    background-color: #C9C9C9;
    border-radius: 25px;
    padding: 20px 25px;
    border: 1px solid #000000;
}

.ld_imput {
    width: 100%;
}

.ld_textarea {
    resize: none;
    border-radius: 10px;
}

.ld_div_form {
    margin-top: 20px;
}

.ld_div_bouton {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ld_iframe {
    width: 100%;
}
.ld_div_color_picker{
    background-color: black;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.ld_close_color_picker{
    font-size: 1rem;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    padding: 4px 4px;
    margin: 0;
    top: -15px;
    right: -15px;
}
.ld_color_black{
    background-color: rgb(0,0,0);
}
.ld_color_white{
    background-color: rgb(255,255,255);
}
.ld_hidden{
    visibility: hidden;
}
.ld_h1 {
    padding-top: 30px;
    margin: 0;
    text-align: center;
}

.ld_container {
    display: flex;
    flex-direction: row;
}

.ld_info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 50px 20PX;
    background-color: #C9C9C9;
    border-radius: 25px;
    padding: 20px 25px;
    border: 1px solid #000000;
}

.ld_form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 20PX;
    background-color: #C9C9C9;
    border-radius: 25px;
    padding: 20px 25px;
    border: 1px solid #000000;
}

.ld_imput {
    width: 100%;
}

.ld_textarea {
    resize: none;
    border-radius: 10px;
}

.ld_div_form {
    margin-top: 20px;
}

.ld_div_bouton {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ld_iframe {
    width: 100%;
}
.ld_div_color_picker{
    background-color: black;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.ld_close_color_picker{
    font-size: 1rem;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    padding: 4px 4px;
    margin: 0;
    top: -15px;
    right: -15px;
}
.ld_color_black{
    background-color: rgb(0,0,0);
}
.ld_color_white{
    background-color: rgb(255,255,255);
}
.ld_hidden{
    visibility: hidden;
}
.ld_redirect{
    text-align: center;
}
.ld_h1_valider{
    font-size: 3REM;
    font-weight: bold;
}
.ld_p{
    line-height: 2rem;
}