.mptitre {
    font-size: 5em;
    font-family: 'Aguafina Script';
    text-align: center;
    color: #000000;
    text-decoration: underline;
    padding-top: 1em;
}

.mpcategories {
    font-size: 2em;
    font-family: 'Aguafina Script';
    text-align: center;
    color: #000000;
    border: 0.3em double #eea405;
    padding: 0.2em;
    margin: 0.8em;
}

.mptree ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0;
    font-family: 'Aguafina Script';
}

.mptree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
}

.mpgraph1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}


/*We will use ::before and ::after to draw the connectors*/

.mptree li::before, .mptree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 0.1em solid #eea405;
	width: 50%; height: 20px;
}
.mptree li::after{
	right: auto; left: 50%;
	border-left: 0.1em solid #eea405;
}


/*We need to remove left-right connectors from elements without 
any siblings*/

.mptree li:only-child::after,
.mptree li:only-child::before {
    display: none;
}


/*Remove space from the top of single children*/

.mptree li:only-child {
    padding-top: 0;
}


/*Remove left connector from first child and 
right connector from last child*/

.mptree li:first-child::before,
.mptree li:last-child::after {
    border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/

.mptree li:last-child::before {
    border-right: 0.1em solid #eea405;
    border-radius: 0 5px 0 0;
}

.mptree li:first-child::after {
    border-radius: 5px 0 0 0;
}


/*Time to add downward connectors from parents*/

.mptree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #eea405;
    width: 0;
    height: 20px;
}

.mptree li a {
    border: 0.1em solid #eea405;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    font-family: 'Aguafina Script';
    font-size: 1.3em;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s;
    margin-left: 0.2em;
    margin-right: 0.2em;
    height: 50%;
}


/*Time for some hover effects*/


/*We will apply the hover effect the the lineage of the element also*/

.mptree li a:hover {
    border: 0.5em double #eea405;
    font-family: 'Aguafina Script';
    font-size: 2em;
    color: #000000;
}


/*Connector styles on hover*/

.mptree li a:hover+ul li::after,
.mptree li a:hover+ul li::before,
.mptree li a:hover+ul::before,
.mptree li a:hover+ul ul::before {
    border-color: #eea405;
}

.mpcalculatrice{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Aguafina Script';
    font-size: 1.5em;
    color: #000000;
    padding: 1em;
    margin-top: 3em;
    border-top: #eea405 0.5em double;
}
.mpbloc {
    border: #eea405 0.4em ridge;
    border-radius: 5%;
}

.mpbutton {
    color: #000000;
}