body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/* ----------------------------------Global---------------------------------- */

.accontainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


/* ----------------------------------Header--------------------------------------- **/

header {
    background: #000000;
    color: #faf3f3;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #eea405 4px double;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header a:hover {
    color: #eea405;
    font-weight: bold;
    font-size: 1.3em;
}


/*---------------------------------- Showcase ----------------------------------*/

#acshowcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffae00;
}


/* ------------------------------------footer------------------------------------ */

footer {
    font-family: 'Aguafina Script';
    text-align: center;
    padding: 20px;
    color: #eea405;
    font-size: 1.2em;
    background-color: #000000;
    border-top: #eea405 4px double;
}
