.mcmain {
    color: #000000;
}

.mccarte {
    text-align: center;
    margin: 5%;
}

.mctitle {
    font-size: 3em;
    font-family: 'Aguafina Script';
}

.mcintro {
    text-align: center;
    margin: 5% 20%;
    background-color: rgba(201, 201, 201, 0.185);
    border-radius: 30px;
    position: absolute;
}

.mcpintro {
    font-size: 1em;
    padding: 5%;
}

.mcborderintro {
    border-bottom: #eea405 3px solid;
    margin-right: 30%;
    border-radius: 180%;
}

.mcchampignon01 {
    width: 300px;
}

.mch2 {
    font-size: 2em;
}

.mcplats01 {
    text-align: center;
    margin: 5% 20%;
    padding: 5%;
    background-color: rgba(201, 201, 201, 0.185);
    border-radius: 30px;
    position: relative;
}

.mcasperge {
    padding: 5%;
}

.mcplats02 {
    text-align: center;
    margin: 5% 20%;
    padding: 5%;
    background-color: rgba(201, 201, 201, 0.185);
    border-radius: 30px;
}

.mccochon {
    padding: 5%;
}

.mcplats03 {
    text-align: center;
    margin: 5% 20%;
    padding: 5%;
    background-color: rgba(201, 201, 201, 0.185);
    border-radius: 30px;
}

.mcagneau {
    padding: 5%;
}

.mcplats04 {
    text-align: center;
    margin: 5% 20%;
    padding: 5%;
    background-color: rgba(201, 201, 201, 0.185);
    border-radius: 30px;
}

.mccommander {
    text-align: center;
    margin: 5% 20%;
    padding: 5%;
    background-color: rgba(201, 201, 201, 0.185);
    border-radius: 30px;
}

.mccerise {
    padding: 5%;
}

.mcborder1 {
    border-bottom: #eea405 3px solid;
    margin-left: 30%;
}

.mcborder2 {
    border-bottom: #eea405 3px solid;
    margin-right: 30%;
}

.mcgalerie {
    display: flex;
}

.mcimggla {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.mcbouton {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: transparent;
    color: black;
    border-radius: 2px;
    width: 100px;
    border-color: #eea405;
}

.mccommande {
    padding: 5%;
}

.inputtext {
    width: 2em;
}

.mctiket {
    margin: 5%;
}