<?php require "header.phtml" ?>


<main id="slg-part">
    <h1 class="slg-main-title"> Nos actualités</h1>
    <div class="slg-container">         
        <button class="slg-cross">+</button>
    </div>
    <section id="slg-section">
          
            
           
        
                <div class="columns ">
                   
                    <div class="column is-3" >
                
                        <div class="slg-card"> 
                            <div class="slg-card-header">
                            
                            </div>

                            <div class="slg-card-body">
                                <h2 class="slg-title"> Atelier Cocktail </h2>
                                <p class="slg-card-p">ds velit eros, iaculis in arcu in, posuere congue felis. Cras molestie, nibh nec dignissim tempus, tortor neque commodo dui, id eleifend mi lacus a purus. </p>
                            </div>
                        </div>
                    </div>

                        
                    <div class="column is-3" >
                        <div class="slg-card "> 
                            <div class="slg-card-header-2"></div>

                            <div class="slg-card-body">
                                <h2 class="slg-title"> Cuisine du marché </h2>
                                <p class="slg-card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit eros, iaculis in arcu in, posuere congue felis. Cras molestie, nibh nec dignissim tempus, tortor neque commodo dui, id eleifend mi lacus a purus. </p>
                            </div>
                        </div>
                    </div>

                    <div class=" column is-3" >
                        <div class="slg-card" >
                            <div class="slg-card-header-3"></div> 
                         
                            <div class="slg-card-body">
                                <h2 class="slg-title"> Réunion tuperwares </h2>
                                <p class="slg-card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit eros, iaculis in arcu in, posuere congue felis. Cras molestie, nibh nec dignissim tempus, tortor neque commodo dui, id eleifend mi lacus a purus. </p>
                            </div>
                        </div>
                    </div>
            
            
        </div>


    </section>
    


    <div class=" container container-form">


  


        <form class="slg-form" method=POST action="../controller/actualite_form_controller.php"> 
            <label> Votre pseudo : </label>
            <input type="text" name="pseudo" required="required" placeholder="votre pseudo">
            <label> Votre commentaire : </label>
            <input class="slg-content-form" type="text" name="content" placeholder="votre commentaire" required="required">
            <button class="slg-form-btn" type="submit"> Save </button>
        
        </form>
        
        <?php     
            $conn = new actuController();
            $req = $conn->select("SELECT * FROM comments");
        ?>

    <!-- on affiche les informations de l'enregistrement en cours -->

            <?php $rows = $req->fetchAll(PDO::FETCH_ASSOC); ?>
            <?php foreach ($rows as $row): ?>

               


                <div class="slg-comments">
                    <p class="slg-comment-header"> pseudo : </p>
                    <p> <?= $row["pseudo"]?> </p>
                    <p class="slg-comment-header"> commentaires : </p>
                    <p> <?= $row["content"]?> </p>
                </div>
                

               
            <?php endforeach; ?>



</main>
<?php include "footer.phtml" ?>