<?php require "header.phtml" ?>


        <main class="color_main ld_color_white">

            <h1 class="ld_h1">Nous contacter</h1>
            <section class="ld_container">
                <article class="ld_info">
                    <h2>Information de contact</h2>
                    <p>SARL Restaurant Le Chlamydia</p>
                    <p>Avenue de la viande 73 000 CHAMBERY</p>
                    <p>Mobile: 07.69.43.87.32</p>
                    <p>Tel: 04.79.43.56.76</p>
                    <p>contact.le.chlamydia@gmail.com</p>
                    <iframe class="ld_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.9022838719575!2d-63.98728453603485!3d-33.8678496778972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDUyJzA0LjQiUyA2M8KwNTknMTMuMiJX!5e1!3m2!1sfr!2sfr!4v1578582563081!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
                </article>
                <article class="ld_form">
                    <h2>Formulaire de contact</h2>
                    <form action="../controller/contact_form_controller.php" method="post">
                        <div>
                            <label for="nom">Nom :</label>
                            <input class="ld_imput" type="text" id="nom" name="nom"/>
                        </div>
                        <div class="ld_div_form">
                            <label for="prenom">Prénom :</label>
                            <input class="ld_imput" type="text" id="prenom" name="prenom"/>
                        </div>
                        <div class="ld_div_form">
                            <label for="mail">Adresse email :</label>
                            <input class="ld_imput" type="email" id="mail" name="mail"/>
                        </div>
                        <div class="ld_div_form">
                            <label for="phone">Téléphone :</label>
                            <input class="ld_imput" type="text" id="phone" name="phone"/>
                        </div>
                        <div class="ld_div_form">
                            <label for="textarea">Votre message :</label>
                            <textarea class="ld_imput ld_textarea" id="textarea" rows="4" name="message"></textarea>
                        </div>
                        <div class="ld_div_bouton">
                            <input type="submit" class="ld_bouton" value="check" name="btn_submit"/>
                        </div>
                    </form>
                </article>
            </section>
            <section>
                <div class="ld_div_color_picker ld_hidden">
                    <button class="ld_close_color_picker" >x</button>
                    <canvas class="ld_div_degrader_color">

                    </canvas>
                </div>
                <button class="bouton_changement">Changer la couleur de fond</button>
                <button class="ls_button_choix_color">Choix de la couleur de fond</button>
            </section>
        </main>


<?php require "footer.phtml" ?>