<?php include "header.phtml" ?>

<main>

<article class="ld_redirect">
    <h1 class="ld_h1_valider">Votre message a bien été envoyé!</h1>
    <p class="ld_p">Nous vous remercions pour votre message. Nous reviendrons vers vous le plus rapidement possible</p>
    <p class="ld_p">Merci de votre confiance</p>
    <p class="ld_p">L'equipe CHLAMYDIA</p>
</article>
</main>

<?php include "footer.phtml" ?>
<?php header("refresh:5;url= ../controller/contact_controller.php");?>
