<?php require "header.phtml" ?>
<main>
    <div>
        <h1 class="mptitre">Notre équipe</h1>
    </div>

    <!--Graph-->

    <section class="mpgraph1">
        
        <!--Cuisine-->

        <div class="mptree">
            <div class="mpcategories">
                <h2>En cuisine</h2>
            </div>
          <ul>
              <li>
                  <a href="#">
                      <img src="../assets/img/mpchefdecuisine1.jpg" alt="Chef Esocym">
                      <p>Chef <?= $result['0']['name'] ?></p>
                      <p>Avec nous depuis <?= $result['0']['seniority'] ?></p>
                  </a>
                  <ul>
                      <li>
                          <a href="#">
                            <img src="../assets/img/mpsecond.jpg" alt="Jacques">
                            <p><?= $result['1']['name'] ?></p>
                            <p><?= $result['1']['rank'] ?></p>
                            <p>Avec nous depuis <?= $result['1']['seniority'] ?></p>
                          </a>
                          <ul>
                              <li>
                                  <a href="#">
                                    <img src="../assets/img/mpchefdepartie1.jpg" alt="Jeanne">
                                    <p><?= $result['2']['name'] ?></p>
                                    <p><?= $result['2']['rank'] ?></p>
                                    <p>Avec nous depuis <?= $result['2']['seniority'] ?></p>
                                  </a>
                                  <ul>
                                      <li>
                                          <a href="#">
                                            <img src="../assets/img/mpcommis1.jpg" alt="Paul">
                                            <p><?= $result['4']['name'] ?></p>
                                            <p><?= $result['4']['rank'] ?></p>
                                            <p>Avec nous depuis <?= $result['4']['seniority'] ?></p>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                              <li>
                                <a href="#">
                                    <img src="../assets/img/mpchefdepartie2.jpg" alt="Henri">
                                    <p><?= $result['3']['name'] ?></p>
                                    <p><?= $result['3']['rank'] ?></p>
                                    <p>Avec nous depuis <?= $result['3']['seniority'] ?></p>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="../assets/img/mpcommis2.jpg" alt="Eustache">
                                            <p><?= $result['5']['name'] ?></p>
                                            <p><?= $result['5']['rank'] ?></p>
                                            <p>Avec nous depuis <?= $result['5']['seniority'] ?></p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                          </ul>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>

      <!--Salle-->

        <div class="mptree">
            <div class="mpcategories">
                <h2>En salle</h2>
            </div>
        <ul>
            <li>
                <a href="#">
                    <img src="../assets/img/mpmaitrehotel.jpg" alt="Dupont">
                    <p><?= $result['6']['name'] ?></p>
                    <p><?= $result['6']['rank'] ?></p>
                    <p>Avec nous depuis <?= $result['6']['seniority'] ?></p>
                </a>
                        <ul>
                            <li>
                                <a href="#">
                                  <img src="../assets/img/mpchefderang1.jpg" alt="Amandine">
                                  <p><?= $result['7']['name'] ?></p>
                                  <p><?= $result['7']['rank'] ?></p>
                                  <p>Avec nous depuis <?= $result['7']['seniority'] ?></p>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                          <img src="../assets/img/mprunner1.jpg" alt="Frank">
                                          <p><?= $result['9']['name'] ?></p>
                                          <p><?= $result['9']['rank'] ?></p>
                                          <p>Avec nous depuis <?= $result['9']['seniority'] ?></p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                              <a href="#">
                                  <img src="../assets/img/mpchefderang2.jpeg" alt="Durand">
                                  <p><?= $result['8']['name'] ?></p>
                                  <p><?= $result['8']['rank'] ?></p>
                                  <p>Avec nous depuis <?= $result['8']['seniority'] ?></p>
                              </a>
                              <ul>
                                  <li>
                                      <a href="#">
                                          <img src="../assets/img/mprunner2.jpg" alt="Péroline">
                                          <p><?= $result['10']['name'] ?></p>
                                          <p><?= $result['10']['rank'] ?></p>
                                          <p>Avec nous depuis <?= $result['10']['seniority'] ?></p>
                                      </a>
                                  </li>
                              </ul>
                          </li>
                        </ul>
                </ul>
        </ul>
    </div>
      </section>

      <!--Calculatrice-->

    <section class="mpcalculatrice">

            <h2>Calculatrice</h2>
            <p>Besoin de partager la note? La flemme d'ouvrir la calculatrice de votre téléphone? Utilisez la nôtre, c'est gratuit.</p>

      <form class="mpbloc" name="calculatrice">
          <table>
              <!--Zone où le resultat sera affiché-->
              <div class="mpresult">
              <tr>
                  <td colspan="4">
                      <input type="text" name="ecran" id="mpecran" disabled>
                  </td>
              </tr>
              </div>

              <!-- Rang 1 -->
              <tr>
                <td><input class="mpbutton" type="button" name="un" value="1" onclick="calculatrice.ecran.value +='1'"></td>

                <td><input class="mpbutton" type="button" name="deux" value="2" onclick="calculatrice.ecran.value += '2'"></td>

                <td><input class="mpbutton" type="button" name="trois" value="3" onclick="calculatrice.ecran.value +='3'"></td>

                <td><input class="mpbutton" type="button" name="plus" value="+" onclick="calculatrice.ecran.value += '+'"></td>
            </tr>

              <!-- Rang 2 -->
              <tr>
                <td><input class="mpbutton" type="button" name="quatre" value="4" onclick="calculatrice.ecran.value +='4'"></td>

                <td><input class="mpbutton" type="button" name="cinq" value="5" onclick="calculatrice.ecran.value += '5'"></td>

                <td><input class="mpbutton" type="button" name="six" value="6" onclick="calculatrice.ecran.value +='6'"></td>

                <td><input class="mpbutton" type="button" name="minus" value="-" onclick="calculatrice.ecran.value += '-'"></td>
              </tr>

              <!-- Rang 3 -->
              <tr>
                <td><input class="mpbutton" type="button" name="sept" value="7" onclick="calculatrice.ecran.value +='7'"></td>

                <td><input class="mpbutton" type="button" name="huit" value="8" onclick="calculatrice.ecran.value += '8'"></td>

                <td><input class="mpbutton" type="button" name="neuf" value="9" onclick="calculatrice.ecran.value +='9'"></td>

                <td><input class="mpbutton" type="button" name="times" value="*" onclick="calculatrice.ecran.value += '*'"></td>
              </tr>

              <!-- Rang 4 -->
              <tr>
                <td><input class="mpbutton" type="button" id="effacer" value="C" onclick="calculatrice.ecran.value = ''"></td>

                <td><input class="mpbutton" type="button" name="zero" value="0" onclick="calculatrice.ecran.value += '0'"></td>

                <td><input class="mpbutton" type="button" name="calculer" value="=" onclick="calculatrice.ecran.value = eval(calculatrice.ecran.value)"></td>

                <td><input class="mpbutton" type="button" name="diviser" value="/" onclick="calculatrice.ecran.value += '/'"></td>
              </tr>
          </table>
      </form>
    </section>

</section>
</main>

<?php require "footer.phtml" ?>
