<?php include'header.phtml'; ?>
<main>
    <article>
        <h1>ERREUR</h1>
        <P>Nous Sommes desolés, nous ne parvenons pas à comprendre votre requête, veuillez réessayer.</P>
        <p>L'equipe CHLAMYDIA</p>
    </article>
</main>
<?php  include 'footer.phtml' ?>