<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Cuisine traditionelle de qualité, à partager">
    <meta name="keywords" content="cuisine, restaurant, partage, champignons, IST">
    <title>Chlamydia</title>
    <link rel="icon" type="image.png" href="../assets/img/Logo.png">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="stylesheet" href="../assets/css/actualite.css">
    <link rel="stylesheet" href="../assets/css/produit.css">
    <link rel="stylesheet" href="../assets/css/equipe.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script type="text/javascript" src="../assets/js/changement_design.js"></script>
    <script type="text/javascript" src="../assets/js/actu.js"></script>
  
    <script type="text/javascript" src="../assets/js/produit.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<header>
    <div class="accontainer">
        <div id="header">
            <img alt='logo' src="../assets/img/Logo.png">
        </div>
        <nav>
            <ul>
                <li><a href="../controller/accueil_controller.php">Accueil</a></li>
                <li><a href="../controller/actualite_controller.php">Actualités</a></li>
                <li><a href="../controller/produit_controller.php">Produits</a></li>
                <li><a href="../controller/equipe_controller.php">L'équipe</a></li>
                <li><a href="../controller/contact_controller.php">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>