<?php require "header.phtml"; ?>
    <main>   
        <section itemscope itemtype="http://schema.org/Menu">
            <div class="mccommander" >
                <div>
                    <h1 class="mctitle">Merci de votre commande</h1>
                </div>
                <div class="mctiket" >
                    <p>
                        Asperge croûte aux truffes : <?= $asperge ?> X 70 € = <?= $totalas ?> € <br>
                        Déclinaison de cochon de lait : <?= $cochon ?> X 80 € = <?= $totalco ?>€ <br>
                        Triologie d'agneau en croûte d'épices : <?= $agneau ?> X 90 € = <?= $totalag ?> € <br>
                        Cerise arlequin : <?= $cerise ?> X 35 € = <?= $totalce ?> € <br> 
                        Total des prix des plats :  <?= $total ?> € dont <?= $tva ?> € de tva 5,5%
                    </p> 
                </div>
                <div class="mctiket" >
                    <p>Vous serez redirigé sur le menu dans 10 secondes</p>
                </div>
                
            </div>
        </section>
    </main>
<?php require "footer.phtml"; ?>
<?php header( "refresh:10;../controller/produit_controller.php" ); ?>