<?php require "header.phtml" ?>
        <main class="mcmain" itemprop="mcmain">
            <section>
                <div class="mccarte">
                    <H1 class="mctitle">Notre carte</H1>
                </div>
        <!--intro-->
                <section>
                    <article class="mcintro">
                        <p class="mcpintro">« Faire simple est complexe. C’est paradoxal, je le concède. Mais je veux revenir à l’essentiel : le goût. Des recettes épurées, qui ne dénaturent pas le produit, Des standards pas très classiques, Des assiettes qui cassent les
                            codes, Finalement, une cuisine à mon image : instinctive, brute, sans chichi. La simplicité est un art de perfection. Je vous promets des dîners simplement parfaits. » Le Chlamydia est un restaurant gastronomique honoré de
                            trois macarons Michelin depuis plus de trente ans et consacré par le Bottin Gourmand et le Gault & Millau. À Chambery, sa seule volonté est de s’élever au sommet, soulever les montagnes et décrocher les étoiles !</p>
                    </article>
                    <div class="mcborderintro">
                        <img class="mcchampignion01" src="../assets/img/mcchampigion.png" alt="Un champignion">
                    </div>
                </section>
        <!--plats 01-->
                <form method="post" action="../controller/produits_form_controler.php">
                    <section itemscope itemtype="http://schema.org/Menu">
                        <article itemprop="hasMenuSection" class="mcplats01">
                            <h2 class="mch2">Asperge croûte aux truffes</h2>
                            <p class="mcp">Asperge juste cuite, grâtinée avec sa croûte de truffes noires en émulsion Ysus et miso.</p>
                            <p>70€</p>
                            <a href="../assets/img/mcAsperge.jpg" target="_blank"><img data-depht="0.5" class="mcasperge" src="../assets/img/mcAsperge.jpg" alt="L'entre Asperge croute aux truff" /></a>
                            <p> Si vous aimez, likez!</p>
                            <input class="mcbouton" type="button" onclick="compteurasperge()" onmousedown="bleep1.play()" value=" Like " />
                            <p><b id='mcasperge'>0</b> Like</p>
                            <div class="commande">
                                <p>Commandez votre entrée:</p>
                                <label for="mcasperge01">Quantité</label>
                                <input value="0" class="inputtext" type="message" name="mcasperge01" id="mcasperge01">
                            </div>
                        </article>
                        <div class="mcborder1 "></div>
                    </section>
        <!--Plats 02-->
                <section itemscope itemtype="http://schema.org/Menu ">
                    <article itemprop="hasMenuSection " class="mcplats02 ">
                        <h2 Class="mch2 ">Déclinaison de cochon de lait</h2>
                        <p class="mcp ">Cochon de lait laqué au miel d'acacia, avec sa tatin d'endives aux noix.</p>
                        <p>80€</p>
                        <a href="../assets/img/mcCochon.jpg " target="_blank "><img class="mccochon " src="../assets/img/mcCochon.jpg " alt="Le plat declinaison de cochon de lait " /></a>
                        <p> Si vous aimez, likez!</p>
                        <input class="mcbouton" type="button" onclick="compteurcochon()" onmousedown="bleep2.play()" value="Like" />
                        <p><b id='mccochon'>0</b> Like</p>
                        <div class="commande">
                            <p>Comandez votre plat:</p>
                            <label for="mccochon01">Quantité</label>
                            <input value="0" class="inputtext" type="message" name="mccochon01" id="mccochon01">
                        </div>
                    </article>
                    <div class="mcborder2"></div>
                </section>
        <!--plats 03-->
                <section itemscope itemtype="http://schema.org/Menu">
                    <article itemprop="hasMenuSection" class="mcplats03">
                        <h2 class="mch2">Trilogie d'Agneau en Croûte d'Epices</h2>
                        <p class="mcp">Trilogie de cuisson d'agneau AOP prés sale du Mont Saint Michel, et son bouchon de pommes de terre.</p>
                        <p>90€</p>
                        <a href="../assets/img/mcAgneau.jpg" target="_blank"><img class="mcagneau" src="../assets/img/mcAgneau.jpg" alt="Le plat triologie d'agneau en croute d'epice" /></a>
                        <p> Si vous aimez, likez!</p>
                        <input class="mcbouton" type="button" onclick="compteuragneau()" onmousedown="bleep3.play()" value="Like" />
                        <p><b id='mcagneau'>0</b> Like</p>
                        <div class="commande">
                            <p>Commandez votre plat:</p>
                            <label for="mcagneau01">Quantité</label>
                            <input value="0" class="inputtext" type="message" name="mcagneau01" id="mcagneau01">
                        </div>
                    </article>
                    <div class="mcborder1"></div>
                </section>
        <!--plats04-->
                <section itemscope itemtype="http://schema.org/Menu">
                    <article itemprop="hasMenuSection" class="mcplats04">
                        <h2 class="mch2">Cerise arlequin</h2>
                        <p class="mcp">Biscuit sachère sur une mousse arlequin, gelée de cerise Amaréna.</p>
                        <p>35€</p>
                        <br>
                        <a href="../assets/img/mcCerise.jpg" target="_blank"><img class="mcerise" src="../assets/img/mcCerise.jpg" alt="Dessert cerise arlequin" /></a>
                        <p> Si vous aimez, likez!</p>
                        <input class="mcbouton" type="button" onclick="compteurcerise()" onmousedown="bleep4.play()" value=" Like " />
                        <p><b id='mccerise'>0</b> Like</p>
                        <div class="mcommande">
                        <p>Commandez votre plat:</p>
                        <label for="mccerise01">Quantité</label>
                        <input value="0" class="inputtext" type="message" name="mccerise01" id="mcerise01">
                        </div>
                    </article>
                </section>
                <section id="mcresultacommade" >
                    <div class="mccommander">
                        <p>Cliquez pour commander</p>
                        <a href="#mcresultacommade"><input class="mcbouton" type="submit" value="comander" ></a> 
                    </div>
                </section>
                </form>
                <section>
                <article class="mcgalerie ">
                    <img class="mcimggla " src="../assets/img/mcboeuf.jpg " alt="Le plat le boeuf " />
                    <img class="mcimggla " src="../assets/img/mclorange.jpg " alt="Le desssert l 'orange" />
                    <img class="mcimggla" src="../assets/img/mchuitre.jpg" alt="L'entrer l 'huitres" />
                    <img class="mcimggla" src="../assets/img/mcfoiegras.jpg" alt="L'entrer le foie gras " />
                </article>
                </section>
            </section>
            <div>
                <source id="mcaudiocloche " src="../assets/audio/sf_cloche_ascenseur.mp3 ">
            </div>
        </main>
<?php require "footer.phtml" ?>



